:root {
    --color-primary: #7367F0;
    --color-secondary: #82868B;
    --color-danger: #EA5455;
    --color-body-text: #6E6B7B;
    --color-heading-text: #5E5873;
    --color-white: #FFFFFF;
    --color-light: #BABFC7;
    --color-disabled-input: #EFEFEF;
    --color-brand-primary: #00BDB9;
    --font-heading-h1: Montserrat, Medium, 28px, 500, 100%;
    --font-heading-h5: Montserrat, SemiBold, 15px, 600, 24px;
    --font-paragraph: Montserrat, Regular, 14px, 400, 24px;
    --font-paragraph-bold: Montserrat, Bold, 14px, 700, 21px;
    --font-paragraph-semi-bold: Montserrat, SemiBold, 14px, 600, 21px;
    --font-paragraph-small-bold: Montserrat, Bold, 12px, 700, 18px;
    --font-table-header: Montserrat, SemiBold, 12px, 600, 100%;
    --font-button-md: Montserrat, Medium, 14px, 500, 100%;
}

.global-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.menu-backoffice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 16px;
    justify-content: flex-start;
    align-items: center;
}

.frame-481215 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
}